@use "../utils/_main" as utils

.button
    padding: 10px 30px 10px 30px
    margin-right: 10px
    border-radius: 100px
    background: utils.$white
    color: utils.$black
    &:hover
        background-color: rgba(254, 252, 252, 0.1)
        border: 2px solid utils.$white
        color: utils.$white
        transition: 1s ease-out

.button-orange
    padding: 15px 25px 15px 25px
    margin-right: 10px
    border-radius: 100px
    background: utils.$orange
    color: utils.$white
    &:hover
        background-color: rgba(254, 252, 252, 0.1)
        border: 2px solid utils.$orange
        color: utils.$orange
        transition: 1s ease-out