.home-cover__title, .form__title {
  font-family: "Amatic SC", cursive;
  font-size: 2.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-shadow: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: inherit;
}
button:hover {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

input, select {
  width: 150px;
  border: none;
  border-bottom: 1px solid #eb651c;
  background: rgba(254, 252, 252, 0.1);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 75px;
  height: 75px;
  margin-left: 100px;
  margin-right: 10px;
}
.header__icon-menu {
  width: 30px;
  height: 30px;
}
.header__list {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}
.header__list__menu {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-right: 50px;
}
.header__list__image {
  width: 21px;
  height: 21px;
}
.header__list__image--hover:hover {
  transform: scale(1.25);
}
.header__user {
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.2rem;
}
.header__user__menu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 30px;
}
.header__user .favoris {
  border-right: 1px solid #eb651c;
  padding-right: 20px;
}
.header__user .search {
  padding-left: 20px;
}
.header__user__image {
  width: 21px;
  height: 21px;
}

.submenu__quick {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 150px;
  display: none;
  -webkit-animation-name: animation-div-submenu;
          animation-name: animation-div-submenu;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.submenu__quick--menu {
  -webkit-animation-name: animation-submenu;
          animation-name: animation-submenu;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  padding: 10px;
}

.submenu__logo {
  display: none;
  padding: 20px;
  justify-content: space-between;
}
.submenu__logo__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 3;
}
.submenu__logo__container--menu {
  color: #eb651c;
  padding: 5px;
}
.submenu__logo__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.submenu__logo__box--icon {
  width: 21px;
  height: 21px;
  padding: 10px;
}

.show_menu {
  display: flex;
}

@-webkit-keyframes animation-submenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animation-submenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes animation-div-submenu {
  from {
    height: 0px;
  }
  to {
    height: 150px;
  }
}
@keyframes animation-div-submenu {
  from {
    height: 0px;
  }
  to {
    height: 150px;
  }
}
.home-cover {
  width: 100%;
}
.home-cover__image {
  background-image: url(../../assets/images/animals.jpg);
  height: 450px;
  display: flex;
  align-items: center;
}
.home-cover__container {
  margin-left: 150px;
  width: 450px;
  color: #fff;
  line-height: 1.8rem;
}
.home-cover__title {
  line-height: 3rem;
}
.home-cover__buttons {
  margin-top: 20px;
}

.join {
  display: flex;
  justify-content: center;
  background: rgba(254, 231, 240, 0.3960784314);
}
.join__text {
  padding: 50px;
}
.join__text--title {
  margin-bottom: 25px;
}
.join__text--para {
  line-height: 1.5rem;
}
.join__button {
  margin-top: 50px;
}
.join__image {
  padding: 50px;
  width: 700px;
}

.suscribe {
  display: flex;
  justify-content: center;
}
.suscribe__image {
  width: 700px;
  padding: 50px;
}
.suscribe__text {
  padding: 50px;
}
.suscribe__text--title {
  margin-bottom: 25px;
}
.suscribe__text--para {
  line-height: 1.5rem;
}
.suscribe__button {
  margin-top: 50px;
}

.form {
  text-align: center;
  background: rgba(254, 231, 240, 0.3960784314);
}
.form__container {
  padding: 100px;
}
.form__title {
  line-height: 5rem;
  margin-bottom: 25px;
}
.form__soustitle {
  color: #eb651c;
}
.form__geo {
  margin-left: 263px;
  line-height: 3rem;
  font-size: 0.8rem;
}

.button {
  padding: 10px 30px 10px 30px;
  margin-right: 10px;
  border-radius: 100px;
  background: #fff;
  color: #000;
}
.button:hover {
  background-color: rgba(254, 252, 252, 0.1);
  border: 2px solid #fff;
  color: #fff;
  transition: 1s ease-out;
}

.button-orange {
  padding: 15px 25px 15px 25px;
  margin-right: 10px;
  border-radius: 100px;
  background: #eb651c;
  color: #fff;
}
.button-orange:hover {
  background-color: rgba(254, 252, 252, 0.1);
  border: 2px solid #eb651c;
  color: #eb651c;
  transition: 1s ease-out;
}/*# sourceMappingURL=style.css.map */